<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Cargo</title>
	
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/text.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/960.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8"> 
	<script src="/js/jquery-1.5.1.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div id="stage" class="container_12">
        <div id="flash">
            <p>
                <%= flash[:notice] %> 
            </p>
        </div>
	    <div id="ajax-loader">
	        <p>
	            <img src="/img/loader.gif" width="42" height="42" alt="Loader"> <span id="ajax-message"></span>
	        </p>
	    </div> 
	    <div id="scene" class="grid_12"> 
		    <h1>Cargo</h1>
		    <p>       
			    <%= yield %>
		    </p>

		</div>
		
	</div>   
  
	
	<script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
